[submodule ".registry"]
	path = .registry
	url = https://github.com/daijiang/universe
	shallow = true
	branch = HEAD
[submodule "megatrees"]
	path = megatrees
	url = https://github.com/daijiang/megatrees
	shallow = true
	registered = true
[submodule "rtrees"]
	path = rtrees
	url = https://github.com/daijiang/rtrees
	shallow = true
	registered = true
[submodule "phyr"]
	path = phyr
	url = https://github.com/daijiang/phyr
	shallow = true
	registered = true
[submodule "lirrr"]
	path = lirrr
	url = https://github.com/daijiang/lirrr
	shallow = true
	registered = true
[submodule "hillR"]
	path = hillR
	url = https://github.com/daijiang/hillR
	shallow = true
	registered = true
[submodule "phylocomr"]
	path = phylocomr
	url = https://github.com/ropensci/phylocomr
	shallow = true
	registered = false
